.pastWorkInner .hero-what-we-do {
    height: 902px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../../assets/images/pastWorkInner/section1-bg.svg); */
    background: #4EBC52;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 600px;
}

.pastWorkInner .hero-what-we-do .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, #000000 5.59%, rgba(0, 0, 0, 0) 100%); */
}

.pastWorkInner .hero-what-we-do h1 {
    margin: auto;
    width: 1034px;
    color: #fff;
    -webkit-text-fill-color: #fff;
    text-fill-color: #fff;
}

.pastWorkInner .hero-what-we-do h3 {
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}

.pastWorkInner .hero-what-we-do .tech-used {
    margin-top: 60px;
}

.pastWorkInner .hero-what-we-do .tech-used .heading {
    margin-bottom: 24px;
}

.pastWorkInner .hero-what-we-do .tech-used .heading h4 {
    color: #fff;
}

.pastWorkInner .hero-what-we-do .tech-used .tech-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 24px;
}

.pastWorkInner .hero-what-we-do .main-img {
    margin-bottom: -600px;
    margin-top: 60px;
    position: relative;
}

.pastWorkInner .hero-what-we-do .main-img .img {
    max-width: 100%;
}

.pastWorkInner .hero-what-we-do .main-img .qr-img {
    position: absolute;
    right: 0;
}

.pastWorkInner .hero-what-we-do .main-img .heading h3 {
    color: #262626;
}

.pastWorkInner .hero-what-we-do .main-img .heading h3 a {
    color: #262626;
}

.pastWorkInner .hero-what-we-do .main-img .heading h3 a img {
    margin-left: 30px;
}

.pastWorkInner .section1 {
    margin-top: 60px;
}

.pastWorkInner .footer-top-main {
    padding-top: 120px;
}

.pastWorkInner .footer-top-main .footer-top-text .btn-gradient-border button {
    width: 216px;
    height: 76px;
    font-size: 30px;
    line-height: 36px;
}

.pastWorkInner a {
    text-decoration: none;
}

.pastWorkInner .section1 {
    padding: 60px 0;
    padding-bottom: 0;
}

.pastWorkInner .section1 .text-div {
    margin-top: 40px;
    padding-right: 10px;
}

.pastWorkInner .section1 .text-div p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

.pastWorkInner .section1 .text-div p span {
    display: inline-block;
    text-decoration: underline;
}

.pastWorkInner .section1 .text-div p span::after {
    content: "";
    width: 100%;
    position: absolute;

}

.pastWorkInner .section1 .img-div {
    margin-top: 120px;
    text-align: center;
}

.pastWorkInner .section1 .img-div img {
    width: 100%;
}

.pastWorkInner .section1 .img-div.low-width img{
    max-width: 896.15px;
    margin: auto;
}

.pastWorkInner .section1 .img-div .topSpace {
    margin-top: 80px;
}

.pastWorkInner .section1 .list-div .list {
    padding-left: 30px;
    position: relative;
}

.pastWorkInner .section1 .list-div .list::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: #000000;
    position: absolute;
    top: 17px;
    left: 12px;
}

.pastWorkInner .recent-work {
    margin-top: 160px;
}

.pastWorkInner .recent-work h2 {
    background: linear-gradient(270deg, #FB7EFF 0%, #1717FF 46.88%, #00E7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: max-content;
    margin: auto;
}

.pastWorkInner .recent-work .recent-work-boxes {
    margin-top: 80px;
}

@media only screen and (max-width: 1056px) and (min-width: 992px) {
    .pastWorkInner .hero-what-we-do h1 {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .pastWorkInner .hero-what-we-do {
        height: 398px;
        margin-bottom: 60px;
    }

    .pastWorkInner .hero-what-we-do h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        width: 100%;
    }

    .pastWorkInner .hero-what-we-do {
        height: 645px;
        margin-bottom: 370px;
    }

    .pastWorkInner .hero-what-we-do .main-img {
        margin-bottom: -410px;
    }

    .pastWorkInner .hero-what-we-do .main-img .img {
        width: 80%;
    }

    .pastWorkInner .hero-what-we-do .main-img .qr-img {
        right: 50px;
    }

    .pastWorkInner .section1 {
        margin-top: 0;
    }

    .pastWorkInner .section1 .text-div {
        margin-top: 20px;
    }

    .pastWorkInner .section1 .text-div p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #737373;
    }

    .pastWorkInner .section1 .img-div {
        margin-top: 60px;
    }

    .pastWorkInner .section1 .list-div .list::before {
        background-color: #737373;
        top: 32px;
    }

    .pastWorkInner .section1 .list-div .col-md-12 {
        display: flex;
    }

    .pastWorkInner .section1 .list-div .col-md-12 .list {
        width: 50%;
    }

    .pastWorkInner .section1 .list-div .col-md-12 .list {
        width: 100%;
    }

    .pastWorkInner .section1 .img-div .topSpace {
        margin-top: 55px;
    }

    .pastWorkInner .recent-work {
        margin-top: 120px;
    }

    .pastWorkInner .recent-work h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
    }

    .pastWorkInner .recent-work .recent-work-boxes {
        margin-top: 60px;
    }

    .pastWorkInner .footer-top-main {
        padding-top: 100px;
    }

    .pastWorkInner .footer-top-main .footer-top-text .btn-gradient-border button {
        width: 171px;
        height: 60px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .pastWorkInner .hero-what-we-do {
        height: 251px;
    }

    .pastWorkInner .hero-what-we-do h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        width: 100%;
    }

    .pastWorkInner .hero-what-we-do {
        height: 550px;
        margin-bottom: 380px;
    }

    .pastWorkInner .hero-what-we-do .main-img {
        margin-bottom: -370px;
    }

    .pastWorkInner .hero-what-we-do .main-img .img {
        width: 80%;
    }

    .pastWorkInner .hero-what-we-do .main-img .qr-img {
        right: 20px;
    }

    .pastWorkInner .hero-what-we-do .tech-used {
        margin-top: 30px;
    }

    .pastWorkInner .hero-what-we-do .tech-used .tech-icons {
        column-gap: 10px;
    }

    .pastWorkInner .hero-what-we-do .tech-used img {
        width: 30px;
    }

    .pastWorkInner .section1 {
        margin-top: 0;
    }

    .pastWorkInner .section1 .heading h3 {
        text-align: center;
    }

    .pastWorkInner .section1 .text-div {
        margin-top: 30px;
    }

    .pastWorkInner .section1 .text-div p {
        color: #525252;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }

    .pastWorkInner .section1 .img-div {
        margin-top: 30px;
    }

    .pastWorkInner .section1 .list-div .list {
        padding: 0;
    }

    .pastWorkInner .section1 .text-div {
        padding: 0;

    }

    .pastWorkInner .section1 .list-div .list::before {
        display: none;
    }

    .pastWorkInner .section1 .img-div .topSpace {
        margin-top: 30px;
    }

    .pastWorkInner .footer-top-main {
        padding: 0;
    }

    .footer-top-main .footer-top-text {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .pastWorkInner .hero-what-we-do {
        margin-bottom: 210px;
    }

    .pastWorkInner .hero-what-we-do .main-img .heading h3 {
        font-size: 24px;
    }

    .pastWorkInner .hero-what-we-do .main-img .heading h3 a img {
        width: 24px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .pastWorkInner .hero-what-we-do .main-img {
        margin-bottom: -270px;
    }

    .pastWorkInner .hero-what-we-do {
        height: 480px;
        margin-bottom: 180px;
    }

    .pastWorkInner .hero-what-we-do .main-img .heading h3 {
        font-size: 18px;
    }

    .pastWorkInner .hero-what-we-do .main-img .heading h3 a img {
        width: 18px;
        margin-left: 10px;
    }

    .pastWorkInner .hero-what-we-do .main-img .qr-img {
        right: 0;
    }

    .pastWorkInner .hero-what-we-do .main-img .qr-img .img {
        width: 50px;
    }
}