header {
    height: 85px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .logo-img img {
    max-width: 208.17px;
    height: 34px;
    object-fit: contain;
}

header .flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0; */
}

header .navlinks {
    display: flex;
    align-items: center;
}

header .navlinks ul {
    margin: 0;
}

header .navlinks ul li {
    display: inline;
    margin-right: 30px;

}

header .navlinks ul li a {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding: 5px;
}

header .navlinks ul li a.active::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(270deg, #FB7EFF 0%, #1717FF 46.88%, #00E7FF 100%);
}

header .navlinks ul li a:hover::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(270deg, #FB7EFF 0%, #1717FF 46.88%, #00E7FF 100%);
}

header .btn-div button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;
    width: 140px;
    height: 40px;
    border-radius: 50px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    color: #262626;
    border: none;
    border-radius: 50px;
    background-color: #fff;
}

header .menu-btn {
    display: none;
}

header .sidenav {
    display: none;
}

header .sidenav .navlinks ul li a.active {
    background: linear-gradient(270deg, #FB7EFF 22%, #1717FF 50.88%, #00E7FF 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    header {
        padding: 0 10px;
        height: 110px;
    }

    header .navlinks {
        display: none;
    }

    header .btn-div {
        display: none;
    }

    header .menu-btn {
        display: block;
    }

    header .menu-btn button {
        border: none;
        background-color: transparent;
        outline: none;
    }

    header .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .sidenav .menu-close {
        text-align: center;
    }

    header .sidenav .navlinks {
        display: block;
        margin-top: 60px;
    }

    header .sidenav .navlinks ul {
        padding: 0;
    }

    header .sidenav .navlinks ul li {
        display: block;
        text-align: center;
        margin: 0;
        height: 90px;
        margin-bottom: 40px;
    }

    header .sidenav .navlinks ul li a {
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 10px;
        height: 110px;
    }

    header .logo-img img {
        width: 146.94px;
    }

    header .menu-btn button img {
        width: 24px;
    }

    header .navlinks {
        display: none;
    }

    header .btn-div {
        display: none;
    }

    header .menu-btn {
        display: block;
    }

    header .menu-btn button {
        border: none;
        background-color: transparent;
        outline: none;
    }

    header .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .sidenav .menu-close {
        text-align: center;
    }

    header .sidenav .menu-close img {
        width: 40px;
    }

    header .sidenav .navlinks {
        display: block;
        margin-top: 60px;
    }

    header .sidenav .navlinks ul {
        padding: 0;
    }

    header .sidenav .navlinks ul li {
        display: block;
        text-align: center;
        margin: 0;
        height: 90px;
        margin-bottom: 30px;
    }

    header .sidenav .navlinks ul li a {
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        padding: 20px 40px;
        height: 100%;
        display: inline-block;
    }

    header .sidenav .logo-img img {
        width: 245px;
    }

    header .navlinks ul li a.active::before {
        height: 2px;
        background: linear-gradient(270deg, #1717FF 0%, #FF4DFF 100%);
    }
}